html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Work Sans', sans-serif;
  background-color: #EEBECE !important;
  a {
    color: inherit;
    text-decoration: none !important;
  }
}

* {
  clear: both;
  box-sizing: border-box;
}
