.sectionTestimoni {
  .slick-initialized {
    top: -125px;
    width: 600px;
    margin: 0 auto;
    .cardWarp {
      margin-left: 50%;
    }
    .slick-list {
      .slick-slide {
        float: unset;
        display: inline-block;
      }
    }
    .slick-next {
      right: -50px;
      &::before {
        content: '→';
      }
    }
    .slick-prev {
      left: -50px;
      &::before {
        content: '←';
      }
    }
    .cardWarp {
      .cardTestimonial {
        margin: 10px;
        padding: 20px;
        height: 140px;
        background-color: #FFF;
      }
    }
  }
}
